.DS_Store
*.log
*.bak
*.backup
*.swp
.vscode/
.idea/
__pycache__/
*.py[cod]
*$py.class
*.so
.venv
venv/
env/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
node_modules/
*.tsbuildinfo
.expo/
*.env
secrets.toml
.secrets.toml
claves_api.json
base_textos.json
bhagavad_gita_*.json
CUENTOS/
libro/
SABIDURÍA/
*.epub
*.pdf
